<div class="wrapper">




<div class="card" style="width: 33%;">
  <img [src]="firstcontact.img" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{firstcontact.name}} {{firstcontact.surname}}</h5>
    <p class="card-text">ID:{{firstcontact.indexNumber}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Telephone number: {{firstcontact.details.telnum}}</li>
    <li class="list-group-item">Email: {{firstcontact.details.email}}</li>

  </ul>

</div>

<div class="card" style="width: 33%;">
  <img [src]="secondcontact.img" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{secondcontact.name}} {{secondcontact.surname}}</h5>
    <p class="card-text">ID:{{secondcontact.indexNumber}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Telephone number: {{secondcontact.details.telnum}}</li>
    <li class="list-group-item">Email: {{secondcontact.details.email}}</li>

  </ul>
  </div>
  <div class="card" style="width: 33%;">
    <img [src]="thirdcontact.img" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{thirdcontact.name}} {{thirdcontact.surname}}</h5>
      <p class="card-text">ID:{{thirdcontact.indexNumber}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Telephone number: {{thirdcontact.details.telnum}}</li>
      <li class="list-group-item">Email: {{thirdcontact.details.email}}</li>

    </ul>


  </div>
